body{
	overflow-x: hidden;
}

.message{
	width: 100%;
	height: 600px;
	background-repeat:no-repeat;
	background-image: url(img/pizza3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.intro{
	padding-top: 40px;
}

.intro a{
    color: #fff;
    background-color: #E87E04;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    padding: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #9e4e03;
    -moz-box-shadow:0px 5px 0px #9e4e03;
    box-shadow: 0px 5px 0px #9e4e03;
    margin: 30px auto;
	  width: 160px;
	  text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.intro a:active {
    -webkit-box-shadow: 0px 3px 0px #9e4e03;
    -moz-box-shadow: 0px 3px 0px #9e4e03;
    box-shadow: 0px 3px 0px #9e4e03;
    position: relative;
    top: 6px;
}


.intro a:focus {outline:0;}


.ui.modal > .header{
	background-color: #E87E04;
	color: #FFF;
}

.message h1{
	color: #FFF;
	font-size: 3.5em;
}

.message h2{
	color: #F3F3F3;
}

h3{
	font-size: 1.7em;
	text-align: center;
}

#placeholder{
	width: 100%;
	height: 200px;
}

.next{
	background-color: #F39C12;
	color: #513707;
}

.ui.labeled.icon.buttons .button, .ui.labeled.icon.button{
	padding-top: 20px;
	padding-bottom: 20px;
}

.next i{
	font-size: 1.5em;
	padding-bottom: 10px;
}

.next .button{
	background-color: #C0392B;
	padding-top:20px;
	padding-bottom: 20px;
	font-size: 1.2em;
    -webkit-box-shadow: 0px 5px 0px #96281B;
    -moz-box-shadow:0px 5px 0px #96281B;
    box-shadow: 0px 5px 0px #96281B;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.next .button:hover{
	background-color: #C0392B;
}

.next .button:active, .ui.button:active, .ui.active.button:active {
    -webkit-box-shadow: 0px 3px 0px #96281B;
    -moz-box-shadow: 0px 3px 0px #96281B;
    box-shadow: 0px 3px 0px #96281B;
    position: relative;
    top: 6px;
}

.next .button:last-child{
	margin-top: 18px;
	margin-bottom: 5px;
}

.nxtbtn1{
	padding-right: 6px !important;
}

.nxtbtn2{
	padding-left: 6px !important;
}

.desc{
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 1.05em;
}